#content {
    max-width: 1600px;
    margin: 0 auto;
  }
  
  .home-title {
    font-size: 2em;
  }
  
  nav a {
    text-align: center;
  }
  
  #hero-msg h1,
  #hero-msg h4 {
    text-align: center;
    color: white;
  }
  
  .button-box {
    text-align: center;
  }
  
  main section {
    text-align: center;
  }
  
  body {
    background-color: #219ebc;
    padding: 0;
    margin: 0;
  }
  
  header {
    background-color: #63c0f1;
  }
  
  nav a {
    background-color: #63c0f1;
    text-decoration: none;
    padding: 25px;
    font-size: 40px;
    font-style: italic;
  }
  
  nav a:hover {
    color: #fb8500;
    background-color:#023047;
    text-decoration: underline;
    transition: 1s;
  }
  
  .share {
    background-color: #63bff193;
    color: #023047;
    text-decoration: none;
    font-size: 40px;
    padding: 15px 30px;
    align-self: center;
    justify-content: center;
  
  }
  
  .share:hover {
    color: white;
    background-color: #219ebc;
  }
  
  .info {
    background-color: #219ebc;
    line-height: 1.5em;
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
  }
  
  .info p {
    font-size: 0.8em;
    padding-bottom: 15px;
  }
  
  footer {
    background-color: #023047;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  footer a  {
    color: #fb8500;
    text-decoration: none;
  }
  footer p{
    color: #fb8500;
  }
  
  footer p a:hover {
    text-decoration: underline;
  }
  
  .logo {
    width: 80px;
  }
  
  footer a:hover {
    background-color: white
  }
  
  footer p {
    font-size: 1.2em;
  }
  
  #logo_link {
    padding-top: 15px;
    justify-self: center;
    align-self: center;
  }
  
  
  
  /* Grid part of the website */
  header {
    display: grid;
    grid-template-columns: 150px auto;
  }
  
  nav {
    display: flex;
    justify-content: space-around
  }
  
  #bg-grid {
    height: 1900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #hero-img {
    grid-row: 1/3;
    grid-column: 1/3;
    width: 100%;
    height: 50%;
  }
  .active{
    text-decoration: underline;
  }
  #hero-msg {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-top: 110px;
    font-size: 40px;
  }
  
  .Men-slide-img {
    margin-top: -700px;
    margin-right: 20px;
    height: 760px;
    width: 770px;
    align-self: center;
    align-items: center;
    justify-content: center;
    border: 10px solid #d9c2a3;
    transition: transform 0.5s;
    box-shadow: 5px 5px 10px #6f7364;
  }
  
  .Men-slide-img:hover {
    opacity: 0.6;
    transform: scale(1.1);
  }
  
  .Children-slide-img {
    margin-top: -700px;
    margin-left: 20px;
    height: 760px;
    width: 770px;
    border: 10px solid #d9c2a3;
    transition: transform 0.5s;
    box-shadow: 5px 5px 10px #6f7364;
  }
  
  .Children-slide-img:hover {
    opacity: 0.6;
    transform: scale(1.1);
  }
  
  .Men-slide-img {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .info{
    width: 190%;
    font-size: 35px;
  }
  .view{
    margin-top: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: top;
    align-content: center;
    padding-top: 50px;
    background-color:#02304730;
    z-index: 1;
    color: #fb8500;
    font-size: 80px;
    font-style: italic;
    font-family: sans-serif;
    margin-top: -100px;
  }
  .view:hover{
    color: black;
    background-color: #63c0f1;
  }
  